* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

.buttons {
  font-size: 20px;
  padding: 10px 15px;
}

.buttonHeader {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: transparent;
  border-color: white;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.buttonHeader :hover {
  border-color: #ff0044;
}
